.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link{
    background: var(--primary-color);
    color: var(--primary-color-text);
}
.p-accordion .p-accordion-header .p-accordion-header-link{
    background: var(--primary-color);
    color: var(--primary-color-text);
}

.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link{
    background: var(--primary-color);
    color: var(--primary-color-text);
}