.p-datatable .p-datatable-thead>tr>th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid var(--surface-d);
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: var(--primary-color-text);
    background: var(--primary-color);
    transition: box-shadow 0.2s;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: var(--primary-color-text);
    margin-left: 0.5rem;
}

.p-datatable .p-sortable-column.p-highlight:hover {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

.p-datatable .p-sortable-column.p-highlight {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: var(--primary-color-text);
}

p-datatable .p-sortable-column.p-highlight {
    background: var(--primary-color-text);
    color: var(--primary-color);
}

.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody>tr>td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 1px;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background: #d2e4fa;
    color: var(--primary-color);
}

.p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 50%;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    border-radius: 50%;
}
