.card {
    padding: 2rem 4rem;    
}
.cardTittle {
    padding: 0.5rem 2rem ;
    background-color: var(--surface-card);
    border-radius: 2rem;
}
.p-toolbar {
    background: var(--surface-card);
}
.secondaryTitle{
    color:var(--gray-300);
}