<p-accordion>
  <p-accordionTab  [selected]=false class="line-height-3 m-0" #panelTab>
    <ng-template pTemplate="header">
      <span *ngIf="!selectedTags">Filtrar por: </span>
      <app-filterinformation *ngIf="selectedTags" [filterData]="selectedTags"></app-filterinformation>
  </ng-template>
    <form [formGroup]="form" id="formProduct">
      <div class="grid">
        <div class="col-12">
          <div class="card p-fluid">
            <div class="p-formgrid grid">

              <div class="field col">
                <label for="name">Nombre</label>
                <input pInputText id="name" type="text" formControlName="name" />
              </div>
              <div class="field col">
                <label for="categoryId">Categoría</label>
                <p-dropdown inputId="categoryId" id="categoryId" [options]="categories" optionLabel="name" [filter]="true" filterBy="name"
                  placeholder="Seleccione una categoría..." optionValue="id" formControlName="categoryId">
                  <ng-template let-category pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ category.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-right">
          <button pButton type="button" label="Limpiar" icon="pi pi-undo"
            class="p-button-secondary p-button-rounded mr-2" (click)="clear()"></button>
          <button pButton type="button" label="Buscar" icon="pi pi-search" class="p-button-rounded mr-2 "
            (click)="search(panelTab, $event)"></button>
        </div>
      </div>
    </form>
  </p-accordionTab>
</p-accordion>
