<p-toolbar>
  <ng-template pTemplate="left">
      <div class="my-2">
          <button pButton pRipple type="button" icon="pi pi-plus" pTooltip="Crear" tooltipPosition="top" class="p-button-rounded mr-2 p-button-success" styleClass="p-button-sm" (click)="create()"></button>
          <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class=" p-button-rounded mr-2" styleClass="p-button-sm" (click)="edit()"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="top" class=" p-button-rounded mr-2 p-button-danger" styleClass="p-button-sm" (click)="deleteSelectedProducts()"></button>
          <button pButton pRipple type="button" icon="pi pi-info" pTooltip="Información" tooltipPosition="top" class="p-button-rounded mr-2 p-button-warning" styleClass="p-button-sm" (click)="info()"></button>
      </div>
  </ng-template>

  <ng-template pTemplate="right">
  </ng-template>
</p-toolbar>
