<p-toast></p-toast>

<form [formGroup]="formCategory">
    <div class="grid">
        <div class="col-12">
            <p-dialog [(visible)]="dialog" [style]="{width: '50vw'}" header={{tittleForm}} [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <div hidden class="form-group field">
                        <label for="id">Id</label>
                        <input type="text" pInputText id="id" formControlName="id" />
                    </div>
                    <div class="form-group field">
                        <label for="name">Nombre</label>
                        <input type="text" pInputText id="name" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && formCategory.controls['name'].invalid}"
                            formControlName="name" />
                        <div *ngIf="submitted && formCategory.controls['name'].invalid">
                            <small class="p-error"
                            *ngIf="formCategory.get('name')?.hasError('required')">{{messages.requiredField}}</small>
                        </div>
                    </div>
                    <div class="form-group field">
                        <label for="description">Descripción</label>
                        <textarea id="description" pInputTextarea rows="3" cols="20" formControlName="description"></textarea>
                        <div *ngIf="submitted && formCategory.controls['description'].invalid">
                            <small class="p-error"
                            *ngIf="formCategory.get('description')?.hasError('required')">{{messages.requiredField}}</small>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times"
                        class="p-button-secondary p-button-rounded mr-2" (click)="openDialog(false,false)"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-rounded mr-2"
                        (click)="save()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</form>
