    <section class="categories">
        <h3>Categorías <small class="secondaryTitle">Gestión de Categorías</small></h3>
        <app-panelfilter></app-panelfilter>
        <app-toolbar></app-toolbar>
        <app-modalforms></app-modalforms>
        <app-modaldelete [serviceObject]="categoriesService" [object]="category"></app-modaldelete>
        <app-modalinfo [serviceObject]="categoriesService" [objectInterface]="category"></app-modalinfo>
        <app-table [categories]="categories"></app-table>
    </section>