<p-toolbar>
  <ng-template pTemplate="left">
    <h5>Listado de productos</h5>
  </ng-template>
  <ng-template pTemplate="right">
    <button pButton pRipple type="button" icon="pi pi-sync" class="p-button-rounded p-button-info p-button-text"
      (click)="reload()"></button>
  </ng-template>
</p-toolbar>
<p-table #dt1 [value]="products" dataKey="id" selectionMode="single" [(selection)]="selectedProducts" [rows]="5"
  [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 15]" [rowHover]="true"
  styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true"
  [globalFilterFields]="['name','code','description']" responsiveLayout="scroll"
  currentPageReportTemplate="Mostando {first} a {last} de {totalRecords} registros" [(first)]="firstPage"
  (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

  <ng-template pTemplate="caption">
    <div class="text-right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
          placeholder="Buscar en la vista actual" class="w-full" />
      </span>
    </div>

  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="name">Descripción <p-sortIcon field="description"></p-sortIcon></th>
      <th pSortableColumn="name">Precio <p-sortIcon field="price"></p-sortIcon></th>
      <th pSortableColumn="name">Stock <p-sortIcon field="stock"></p-sortIcon></th>
      <th pSortableColumn="category.name">Category <p-sortIcon field="category.name"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product rowIndex="rowIndex">
    <tr [pSelectableRow]="product">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stock}}</td>
      <td>{{product.category.name}} </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron productos.</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <tr>
      <td colspan="8">Cargando datos de productos. Por favor, espere.</td>
    </tr>
  </ng-template>
</p-table>
